html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


h3{
    width: fit-content;
    display: inline-block;
}


button {
    margin:0;
    width: 30%;
    margin-inline: auto;
}

.modal-tag{
    gap:10px;
    margin-bottom: 30px;
}

.tag{
    display:flex;
    justify-content: center;
    text-align: left;
    gap: 10px;
}

.card {
    padding-inline: 25px;
    width: 35%;
    text-align: center;
}

.search{
    width: 50%;
    margin: auto;
}

.modal{
    text-align: left;
    width: 40%;
}

.modal-title{
    margin: 0;
}

.notes{
    margin-top: 50px;
    margin-bottom: 0px;
}