html {
    height: 100%;

}

body {
    min-height: 100%;
    align-items: center;
    justify-content: center;
}

.card {
    padding-inline: 25px;
    width: 35%;
    text-align: center;
}


h3{
    width: fit-content;
    display: inline-block;
}


button {
    margin:0;
    width: 30%;
    margin-inline: auto;
}

.tag{
    display:flex;
    justify-content: center;
    text-align: left;
    gap: 10px;
}
