html {
    height: 100%;

}

body {
    text-align: center;
    min-height: 100%;
    align-items: center;
    justify-content: center;
}

.card {
    padding-inline: 25px;
    width: 50%;
    text-align: left;
    position: relative;
}

h3{
    width: fit-content;
    display: inline-block;
}

img{
    width: 300px;
    left:400px;
    display: inline-block;
    position: absolute;
}

button {
    margin:0;
    width: 30%;
    margin-inline: auto;
}
